@*Home Index*@

@{
    ViewBag.Title = "Home Page";
}





<div class="placeholders">
    <div class="row d-flex justify-content-start">

        <div id="dropdownlist" class="col-md-3">
            @{Html.RenderPartial("_DropDownList");}
        </div>

        <div id="dropdowntree" class="col-md-3">
            @{Html.RenderPartial("_DropDownTree");}
        </div>

        <div id="cascadingDDL" class="col-md-3">
            @{Html.RenderPartial("_CascadingDropDownList");}
        </div>
    </div>

</div>

